.App {
  display: flex;
  flex-direction: column;
  animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


.App-body {
  background-color: #0E1514;
  height: 100vh;
}

.about {
  width: 80vh;
  height: 95vh;
  margin-left: 32px;
  margin-top: 32px;
  background-color: #1D2824;
  position: absolute;
  border-radius: 16px;
}

.bio-div {
  width: 60vh;
  height: 20vh;
}

.links {
  position: absolute;
  top: 91%;
  margin-left: 32px;
}

.vertical-carousel {
  background-color: #0E1514;
  position: absolute;
  left: 95%;
  top: 35%;
  margin-right: 16px;
}

.exp-tab {
  display: flex;
  flex-direction: row;
  color: #F0F3FA;
}
.exp-desc {
  color: #F0F3FA;
  width: 60vh;
  margin: 24px;
}

.exp-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 58%;
  top: 35%;
  color: #F0F3FA;
}

.Body-name {
  position: absolute;
  color: #F0F3FA;
  padding: 64px
}

.Body-welcome {
  width: 350px;
  height: 75px;
  background-color: #2A2828;
  color: #F0F3FA;
  outline: 2px solid black; /* Sets the outline to be a solid black line with a width of 2px */
  padding: 8px; /* Adds some padding to make the outline visible */
  border-radius: 16px;
  position: absolute; /* Position the component relative to the nearest positioned ancestor */
  top: 25%; /* Align the top of the component to the vertical center of the screen */
  left: 50%; /* Align the left side of the component to the horizontal center of the screen */
  transform: translate(-50%, -50%);
}

.Body-linkedin,
.Body-github,
.Body-about,
.Body-gmail {
  width: 250px;
  height: 65px;
  background-color: #2A2828;
  color: #F0F3FA;
  outline: 2px solid black; 
  padding: 8px;
  border-radius: 16px;
  position: absolute; 
}

.Body-button {
  color: #F0F3FA;
}
.Body-about {
  top: 40%;
  left: 50%; 
}

.Body-linkedin {
  display: flex;
  top: 50%; 
  left: 50%; 
}


.Body-github {  
  display: flex;
  top: 60%; /* Align the top of the component to the vertical center of the screen */
  left: 50%; /* Align the left side of the component to the horizontal center of the screen */
}

.Body-gmail {
  display: flex;
  top: 70%; /* Align the top of the component to the vertical center of the screen */
  left: 50%; /* Align the left side of the component to the horizontal center of the screen */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(.4);
  }
  50% {
    transform: scale(.5);
  }
}