.App {
  display: flex;
  flex-direction: column;
  animation: fadeIn 2.5s ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

  
.App-header {
  background-color: #2A2438;
  min-height: 79h;
  font-size: calc(80px + 2vmin);
  color: #A5A6F6;
  font-family: 'Khand-Bold';
  padding: 65px;
  padding-top: 16px;
}
.App-link {
  color: #61dafb;
}

.App-thick-div {
  animation: slideIn 2s ease-out;
  font-family: 'Khand-Regular';
  padding: 8px;
  font-size: 24px;
  width: 450px;
  height: 450px;
  background-color: #2A2438;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* This adds a 10px "thickness" */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(.4);
  }
  50% {
    transform: scale(.5);
  }
}