@keyframes slideInTitle {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

.flex-container {
    background: linear-gradient(to top, #628ecb, #395886 );
    display: flex;
    flex-direction: row;
    gap: 20px; /* 20px gap between flex items */
    padding: 16px;
    align-self: 'center';
    justify-content: 'center';
}

.title-icon {
    animation: slideInTitle 2s ease-out;
    font-size: calc(48px + 2vmin);
    color: #f0f3fa;
    font-family: 'Khand';
    padding-left: 16px;
}

.gmail-icon, 
.linkedin-icon, 
.github-icon {
  font-family: 'Khand';
  padding-top: 28px;
}